fastapi
uvicorn
motor
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
stripe==15.4.0
cryptography
python-dotenv
boto3
botocore
fpdf2
httpx

# Tests
pytest
pytest-asyncio
mongomock-motor
